

@font-face {
	font-family: Peyda;
	font-style: normal;
	font-weight: 100;
	src: url('./PeydaWeb/eot/PeydaWeb-Thin.eot');
	src: url('./PeydaWeb/eot/PeydaWeb-Thin.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./PeydaWeb/Woff2/PeydaWeb-Thin.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./PeydaWeb/Woff/PeydaWeb-Thin.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: Peyda;
	font-style: normal;
	font-weight: 600;
	src: url('./PeydaWeb/eot/PeydaWeb-SemiBold.eot');
	src: url('./PeydaWeb/eot/PeydaWeb-SemiBold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./PeydaWeb/Woff2/PeydaWeb-SemiBold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./PeydaWeb/Woff/PeydaWeb-SemiBold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: Peyda;
	font-style: normal;
	font-weight: normal;
	src: url('./PeydaWeb/eot/PeydaWeb-Regular.eot');
	src: url('./PeydaWeb/eot/PeydaWeb-Regular.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./PeydaWeb/Woff2/PeydaWeb-Regular.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./PeydaWeb/Woff/PeydaWeb-Regular.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: Peyda;
	font-style: normal;
	font-weight: 500;
	src: url('./PeydaWeb/eot/PeydaWeb-Medium.eot');
	src: url('./PeydaWeb/eot/PeydaWeb-Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./PeydaWeb/Woff2/PeydaWeb-Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./PeydaWeb/Woff/PeydaWeb-Medium.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
	font-family: Peyda;
	font-style: normal;
	font-weight: 300;
	src: url('./PeydaWeb/eot/peydaWeb-light.eot');
	src: url('./PeydaWeb/eot/peydaWeb-light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./PeydaWeb/Woff2/peydaWeb-light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./PeydaWeb/Woff/peydaWeb-light.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}


@font-face {
	font-family: Peyda;
	font-style: normal;
	font-weight: 750;
	src: url('./PeydaWeb/eot/PeydaWeb-ExtraBold.eot');
	src: url('./PeydaWeb/eot/PeydaWeb-ExtraBold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./PeydaWeb/Woff2/PeydaWeb-ExtraBold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./PeydaWeb/Woff/PeydaWeb-ExtraBold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
	font-family: Peyda;
	font-style: normal;
	font-weight: 850;
	src: url('./PeydaWeb/eot/PeydaWeb-Black.eot');
	src: url('./PeydaWeb/eot/PeydaWeb-Black.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./PeydaWeb/Woff2/PeydaWeb-Black.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./PeydaWeb/Woff/PeydaWeb-Black.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}


@font-face {
	font-family: Peyda;
	font-style: normal;
	font-weight: bold;
	src: url('./PeydaWeb/eot/PeydaWeb-Bold.eot');
	src: url('./PeydaWeb/eot/PeydaWeb-Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./PeydaWeb/Woff2/PeydaWeb-Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./PeydaWeb/Woff/PeydaWeb-Bold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}


